<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rashome.rashome.mapper.Dht11DataMapper">
  <resultMap id="BaseResultMap" type="com.rashome.rashome.po.Dht11Data">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rasberryPiID" jdbcType="BIGINT" property="rasberryPiID" />
    <result column="sensorID" jdbcType="BIGINT" property="sensorID" />
    <result column="frequency" jdbcType="REAL" property="frequency" />
    <result column="collectTime" jdbcType="BIGINT" property="collectTime" />
    <result column="sensorTemperature" jdbcType="REAL" property="sensorTemperature" />
    <result column="sensorHumidity" jdbcType="REAL" property="sensorHumidity" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dht11Data
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.rashome.rashome.po.Dht11Data">
    insert into dht11Data (rasberryPiID, sensorID, 
      frequency, collectTime, sensorTemperature, sensorHumidity,
      createTime)
    values (#{rasberryPiID,jdbcType=BIGINT}, #{sensorID,jdbcType=BIGINT}, 
      #{frequency,jdbcType=REAL}, #{collectTime,jdbcType=BIGINT}, #{sensorTemperature,jdbcType=REAL},
      #{sensorHumidity,jdbcType=REAL}, DEFAULT)
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.rashome.rashome.po.Dht11Data">
    update dht11Data
    set rasberryPiID = #{rasberryPiID,jdbcType=BIGINT},
      sensorID = #{sensorID,jdbcType=BIGINT},
      frequency = #{frequency,jdbcType=REAL},
      collectTime = #{collectTime,jdbcType=BIGINT},
      sensorTemperature = #{sensorTemperature,jdbcType=REAL},
      sensorHumidity = #{sensorHumidity,jdbcType=REAL},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, rasberryPiID, sensorID, frequency, collectTime, 
    sensorTemperature, sensorHumidity, createTime
    from dht11Data
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, rasberryPiID, sensorID, frequency, collectTime, sensorTemperature, sensorHumidity,
    createTime
    from dht11Data
  </select>

  <select id="selectByRasberryPiID" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from dht11Data
    where rasberryPiID = #{rasberryPiID, jdbcType=BIGINT}
  </select>

  <select id="selectByRasberryPiIDAndSensorID" resultMap="BaseResultMap">
    select *
    from dht11Data
    where rasberryPiID = #{rasberryPiID, jdbcType=BIGINT} and
    sensorID in 
    <foreach collection="sensorsID" open="(" close=")" separator="," item="sensorID">
      #{sensorID}
    </foreach>
  </select>
</mapper>