<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rashome.rashome.mapper.RasberryPiDataMapper">
  <resultMap id="BaseResultMap" type="com.rashome.rashome.po.RasberryPiData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rasberryPiID" jdbcType="BIGINT" property="rasberryPiID" />
    <result column="frequency" jdbcType="REAL" property="frequency" />
    <result column="collectTime" jdbcType="BIGINT" property="collectTime" />
    <result column="cpuAverageUsage" jdbcType="REAL" property="cpuAverageUsage" />
    <result column="cpuPerUsage" jdbcType="VARCHAR" property="cpuPerUsage" />
    <result column="cpuLogicCores" jdbcType="INTEGER" property="cpuLogicCores" />
    <result column="cpuTemperature" jdbcType="REAL" property="cpuTemperature" />
    <result column="memoryTotal" jdbcType="BIGINT" property="memoryTotal" />
    <result column="memoryUsed" jdbcType="BIGINT" property="memoryUsed" />
    <result column="memoryFree" jdbcType="BIGINT" property="memoryFree" />
    <result column="memoryPercent" jdbcType="REAL" property="memoryPercent" />
    <result column="swapTotal" jdbcType="BIGINT" property="swapTotal" />
    <result column="swapUsed" jdbcType="BIGINT" property="swapUsed" />
    <result column="swapFree" jdbcType="BIGINT" property="swapFree" />
    <result column="swapPercent" jdbcType="REAL" property="swapPercent" />
    <result column="latency" jdbcType="REAL" property="latency" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rasberryPiData
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.rashome.rashome.po.RasberryPiData">
    insert into rasberryPiData (rasberryPiID, frequency, 
      collectTime, cpuAverageUsage, cpuPerUsage, 
      cpuLogicCores, cpuTemperature, memoryTotal, 
      memoryUsed, memoryFree, memoryPercent, 
      swapTotal, swapUsed, swapFree, 
      swapPercent, latency, createTime
      )
    values (#{rasberryPiID,jdbcType=BIGINT}, #{frequency,jdbcType=REAL}, 
      #{collectTime,jdbcType=BIGINT}, #{cpuAverageUsage,jdbcType=REAL}, #{cpuPerUsage,jdbcType=VARCHAR}, 
      #{cpuLogicCores,jdbcType=INTEGER}, #{cpuTemperature,jdbcType=REAL}, #{memoryTotal,jdbcType=BIGINT}, 
      #{memoryUsed,jdbcType=BIGINT}, #{memoryFree,jdbcType=BIGINT}, #{memoryPercent,jdbcType=REAL}, 
      #{swapTotal,jdbcType=BIGINT}, #{swapUsed,jdbcType=BIGINT}, #{swapFree,jdbcType=BIGINT}, 
      #{swapPercent,jdbcType=REAL}, #{latency,jdbcType=REAL}, DEFAULT
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.rashome.rashome.po.RasberryPiData">
    update rasberryPiData
    set rasberryPiID = #{rasberryPiID,jdbcType=BIGINT},
      frequency = #{frequency,jdbcType=REAL},
      collectTime = #{collectTime,jdbcType=BIGINT},
      cpuAverageUsage = #{cpuAverageUsage,jdbcType=REAL},
      cpuPerUsage = #{cpuPerUsage,jdbcType=VARCHAR},
      cpuLogicCores = #{cpuLogicCores,jdbcType=INTEGER},
      cpuTemperature = #{cpuTemperature,jdbcType=REAL},
      memoryTotal = #{memoryTotal,jdbcType=BIGINT},
      memoryUsed = #{memoryUsed,jdbcType=BIGINT},
      memoryFree = #{memoryFree,jdbcType=BIGINT},
      memoryPercent = #{memoryPercent,jdbcType=REAL},
      swapTotal = #{swapTotal,jdbcType=BIGINT},
      swapUsed = #{swapUsed,jdbcType=BIGINT},
      swapFree = #{swapFree,jdbcType=BIGINT},
      swapPercent = #{swapPercent,jdbcType=REAL},
      latency = #{latency,jdbcType=REAL},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, rasberryPiID, frequency, collectTime, cpuAverageUsage, cpuPerUsage, cpuLogicCores, 
    cpuTemperature, memoryTotal, memoryUsed, memoryFree, memoryPercent, swapTotal, swapUsed, 
    swapFree, swapPercent, latency, createTime
    from rasberryPiData
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByRasberryPiID" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from rasberryPiData
    where rasberryPiID = #{rasberryPiID,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, rasberryPiID, frequency, collectTime, cpuAverageUsage, cpuPerUsage, cpuLogicCores, 
    cpuTemperature, memoryTotal, memoryUsed, memoryFree, memoryPercent, swapTotal, swapUsed, 
    swapFree, swapPercent, latency, createTime
    from rasberryPiData
  </select>

  <select id="selectByTimestamp" parameterType="com.rashome.rashome.dto.QueryData" resultMap="BaseResultMap">
    select *
    from rasberryPiData
    where collectTime between #{startTimestamp, jdbcType=BIGINT} and #{endTimestamp, jdbcType=BIGINT} and
    rasberryPiID = #{rasberryPiID,jdbcType=BIGINT}
  </select>
</mapper>