<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rashome.rashome.mapper.RasberryPiMappingMapper">
  <resultMap id="BaseResultMap" type="com.rashome.rashome.po.RasberryPiMapping">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rasberryPiID" jdbcType="BIGINT" property="rasberryPiID" />
    <result column="rasberryPiName" jdbcType="VARCHAR" property="rasberryPiName" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="rasberryPiModel" jdbcType="BIGINT" property="rasberryPiModel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from rasberryPiMapping
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rashome.rashome.po.RasberryPiMapping" 
  keyProperty="id" 
  useGenerateKey="true"
  >
    insert into rasberryPiMapping (id, rasberryPiID, rasberryPiName, 
      createTime, updateTime, rasberryPiModel
      )
    values (#{id,jdbcType=BIGINT}, #{rasberryPiID,jdbcType=BIGINT}, #{rasberryPiName,jdbcType=VARCHAR}, 
      DEFAULT, DEFAULT, #{rasberryPiModel,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.rashome.rashome.po.RasberryPiMapping">
    update rasberryPiMapping
    set rasberryPiID = #{rasberryPiID,jdbcType=BIGINT},
      rasberryPiName = #{rasberryPiName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      rasberryPiModel = #{rasberryPiModel,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <update id="updateByRasberryPiID" parameterType="com.rashome.rashome.po.RasberryPiMapping">
    update rasberryPiMapping
    set rasberryPiName = #{rasberryPiName,jdbcType=VARCHAR},
      updateTime = DEFAULT
    where rasberryPiID = #{rasberryPiID,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, rasberryPiID, rasberryPiName, createTime, updateTime, rasberryPiModel
    from rasberryPiMapping
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, rasberryPiID, rasberryPiName, createTime, updateTime, rasberryPiModel
    from rasberryPiMapping
  </select>
</mapper>